.card-name {
    color: #25274c;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 75% */
    letter-spacing: 1.6px;
    word-wrap: 'break-word';
    position: relative;
    top: 44%;
    transform: translateY(-50%);
  }
  .linearpath-card-div {
    border-radius: 24px;
    border: 2px solid #ff6667;
    background: linear-gradient(
      180deg,
      rgba(247, 216, 217, 0.4) 42.08%,
      rgba(21, 131, 255, 0.2) 100%
    );
    width: 600px;
    height: 240px;
    flex-shrink: 0;
    margin: 32px;
    /* top: 50%; */
  }
  
  .linearpath-card-div:hover {
    box-shadow: 0px 7px 4px #1910A5;
  }
  
  .percentage-lp {
    left: 86% !important;
  }

  /*    <div style={{ width: '0%', height: '10%', position: 'relative', left: '74%', transform: 'translate(147%, -10%)', flexDirection: 'column', justifyContent: 'center', alignItems: 'flex-start', display: 'inline-flex' }}>
*/