.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #ffffff;
    height: 2261px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .index .overlap {
    height: 1601px;
    left: 0;
    position: absolute;
    top: 660px;
    width: 1444px;
  }
  
  .index .page-BG {
    background: linear-gradient(180deg, rgb(216.64, 225.93, 242.96) 18.34%, rgb(244, 244, 248) 100%);
    height: 1601px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .index .bottom-card-section {
    height: 908px;
    left: 244px;
    position: absolute;
    top: 242px;
    width: 952px;
  }
  
  .index .overlap-group {
    height: 908px;
    position: relative;
    width: 956px;
  }
  
  .index .linear-path {
    height: 908px;
    left: 0;
    position: absolute;
    top: 0;
    width: 956px;
  }
  
  .index .overlap-group-2 {
    background-color: #f5f6f8;
    border-radius: 24px;
    height: 908px;
    position: relative;
    width: 952px;
  }
  
  .index .text-wrapper {
    color: #25274c;
    font-family: "Inter", Helvetica;
    font-size: 42px;
    font-weight: 700;
    left: 565px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 30px;
    white-space: nowrap;
    width: 240px;
  }
  
  .index .line {
    height: 2px;
    left: 507px;
    position: absolute;
    top: 94px;
    width: 385px;
  }
  
  .index .p {
    color: #25274c;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 507px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 117px;
    width: 397px;
  }
  
  .index .overlap-group-wrapper {
    height: 908px;
    left: 0;
    position: absolute;
    top: 0;
    width: 952px;
  }
  
  .index .overlap-group-3 {
    height: 908px;
    position: relative;
  }
  
  .index .rectangle {
    background-color: #ffffff;
    border-radius: 0px 0px 24px 24px;
    height: 712px;
    left: 0;
    position: absolute;
    top: 196px;
    width: 952px;
  }
  
  .index .rectangle-2 {
    background-color: #ffffff;
    border-radius: 24px 24px 0px 0px;
    height: 196px;
    left: 0;
    position: absolute;
    top: 0;
    width: 476px;
  }
  
  .index .free-flowing {
    height: 143px;
    left: 48px;
    position: absolute;
    top: 30px;
    width: 389px;
  }
  
  .index .text-wrapper-2 {
    color: #25274c;
    font-family: "Inter", Helvetica;
    font-size: 42px;
    font-weight: 700;
    left: 60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 266px;
  }
  
  .index .img {
    height: 2px;
    left: 0;
    position: absolute;
    top: 64px;
    width: 385px;
  }
  
  .index .text-wrapper-3 {
    color: #25274c;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 88px;
    width: 360px;
  }
  
  .index .JQ-final-colors {
    height: 435px;
    left: 1069px;
    position: absolute;
    top: 1054px;
    width: 371px;
  }
  
  .index .text-wrapper-4 {
    color: #24264c;
    font-family: "Inter", Helvetica;
    font-size: 64px;
    font-weight: 700;
    left: 285px;
    letter-spacing: -1.28px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    top: 127px;
    white-space: nowrap;
    width: 870px;
  }
  
  .index .ellipse {
    background-color: #eff1f8;
    border-radius: 23.5px/19.5px;
    height: 39px;
    left: 1397px;
    position: absolute;
    top: 1150px;
    width: 47px;
  }
  
  .index .cards {
    height: 811px;
    left: 296px;
    position: absolute;
    top: 497px;
    width: 848px;
  }
  
  .index .cards-2 {
    height: 811px;
    position: relative;
  }
  
  .index .top-row {
    height: 240px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 848px;
  }
  
  .index .img-2 {
    height: 251px;
    left: -8px;
    position: absolute;
    top: 0;
    width: 248px;
  }
  
  .index .img-3 {
    height: 251px;
    left: 296px;
    position: absolute;
    top: 0;
    width: 248px;
  }
  
  .index .img-4 {
    height: 251px;
    left: 600px;
    position: absolute;
    top: 0;
    width: 248px;
  }
  
  .index .second-row {
    height: 240px;
    left: 0;
    position: absolute;
    top: 317px;
    width: 848px;
  }
  
  .index .advice-tips {
    color: #ff6667;
    font-family: "Inter", Helvetica;
    font-size: 64px;
    font-weight: 800;
    left: 232px;
    letter-spacing: -1.28px;
    line-height: 65px;
    position: absolute;
    top: 212px;
    width: 375px;
  }
  
  .index .text-wrapper-5 {
    color: #24264c;
    font-family: "Lato", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 232px;
    letter-spacing: 0;
    line-height: 34px;
    position: absolute;
    top: 499px;
    white-space: nowrap;
    width: 426px;
  }
  
  .index .top-nav-bar {
    height: 84px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .index .top-nav-bar-2 {
    height: 84px;
    position: relative;
  }
  
  .index .text-wrapper-6 {
    color: #001561;
    font-family: "Lato", Helvetica;
    font-size: 32px;
    font-weight: 800;
    left: 228px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 29px;
    white-space: nowrap;
  }
  
  .index .buttons-for-sign-up {
    height: 32px;
    left: 1131px;
    position: absolute;
    top: 24px;
    width: 180px;
  }
  
  .index .buttons-mini-2 {
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 86px;
  }
  
  .index .buttons-mini-instance {
    left: 94px !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .index .design-component-instance-node {
    color: #24264c !important;
    font-family: "Inter", Helvetica !important;
    font-weight: 700 !important;
    left: -2px !important;
    top: 4px !important;
    width: 86px !important;
  }
  
  .index .buttons-mini-3 {
    border: 2px solid !important;
    border-color: #24264c !important;
    border-radius: 10px !important;
    height: 32px !important;
    width: 86px !important;
  }
  
  .index .frame {
    background-color: #fff9f9;
    height: 552px;
    left: 697px;
    position: absolute;
    top: 88px;
    width: 743px;
  }
  
  .index .image {
    height: 552px;
    left: 55px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 634px;
  }
  